.productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 5px;

}
.ofertas{
    background-color: rgb(47, 113, 255);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
}

.navbar {
    padding-left: 20px;
    
}

.navbar ul li a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 15px;
 }

 ul{

    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
 }

 .productos{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    justify-content: center;
    align-items: center;
}
 
