body {
    display: flex;
    background-color: bisque;
    
}

.container{
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr; 
    grid-template-rows: auto;
    grid-template-areas: 
        "navbar navbar navbar"
        "ofertas ofertas ofertas"
        "productos productos productos"
    ;
    width: 100%;
    
}

.navbar {
    grid-area: navbar;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.navbar ul{
list-style: none;
margin: 0;
padding: 0;

}

.navbar li{
display: inline-block;

}

.navbar ul li a{
   color: rgb(10, 10, 10);
   text-decoration: none;
   display: block;
   padding: 50px;
   font-size: 25px;
}

.navbar ul li a:hover{
    background-color: #42b881;
 }

 .button{
    background-color: rgb(255, 136, 0);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
 }

.ofertas {
    grid-row: 1/4;
    grid-area: ofertas;
    display: flex;
    justify-content: center;
    
}
.of{
    width: 100%;
    height: 400px;
    
}

.productos{
grid-area: productos;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 20px;  
padding-top: 20px;
padding-left: 150px;
padding-right: 150px;

}

.prod{
    background-color: cornflowerblue;
    padding: 10px;
}

.pro{

    width: 400px;
    height: auto;
}

.foo{
    width: 150px;
    height: 100px;
}

